<nav class="nav">
  <ul class="nav nav-pills nav-fill">
      <li class="nav-link">
          <a [routerLink] ="['/new-user']" routerLinkActive ="activelink">משתמש חדש</a>
      </li>
      <li class="nav-link">
          <a [routerLink] ="['/enter']" routerLinkActive ="activelink">משתמש קים</a>
      </li>
      <li class="nav-link">
        <a [routerLink] ="['/allStudents']" routerLinkActive ="activelink">לרשימת התלמידים</a>
    </li>
      <li class="nav-link">
          <a [routerLink] ="['/registratio']" routerLinkActive ="activelink">הרשמה</a>
      </li>
      <li class="nav-link">
          <a [routerLink] ="['/attendance']" routerLinkActive ="activelink" >נוכחות</a>
      </li>
      <li class="nav-link">
          <a [routerLink] ="['/payment']" routerLinkActive ="activelink">לתשלום</a>
      </li>
      <li class="nav-link">
          <a [routerLink]="['/courses']"  routerLinkActive="activelink">קורסים</a>
      </li>
      <li class="nav-link">
        <a [routerLink]="['/email']"  routerLinkActive="activelink">צירוף משתמש</a>
    </li>
  </ul>
</nav>
<h1>חוגי שחיה שובל</h1>


