body{
  direction:rtl;
 }
th{
  color: rgb(21, 1, 105);
  width: 250px;
  text-align: center;
 }
td{
  text-align: center;

}
table{
  margin: 110px;
}
h1{
  text-align: center;
  color: rgb(28, 3, 87);
}

