<table style="text-align: center !important;background-color: rgb(239, 238, 252);width: 90vw !important;border: none !important;" class="table table-hover mx-auto">
  <tr style="background-color: rgb(145, 187, 253);">
    <th>שם פרטי</th>
    <th>שם משפחה</th>
    <th>תאריך</th>
    <th>נוכחות</th>
  </tr>
  <tr *ngFor = "let i of item">
    <td><input type="text" class="form-control"></td>
   <td><input type="text" class="form-control"></td>
   <td><input type="text" class="form-control"></td>
    <td><input type="checkbox" id="checkboxAttendance"></td>
  </tr>
</table>
