
<form  [formGroup] ="myForm">
  <h1 class="border1">כרטיס תלמיד</h1>
  <br>
  <fieldset>
      <div class="block_container">
          <div class="form-group">
              <label>שם פרטי</label>
              <input type="text" class="form-control" formControlName = "firstName">
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-group">
              <label>שם משפחה</label>
              <input type="text" class="form-control" formControlName = "lastName">

          </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label>טלפון </label>
        <input type="text" class="form-control" formControlName = "phone">
      </div>
      <div class="block_container ">
          <div class="form-group">
              <label>לתשלום</label>
              <input type="text" value="99" class="form-control" formControlName = "price" >
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-group">
            <label>חוב</label>
            <input type="text" value="99" class="form-control" formControlName = "debt" >
        </div>
      </div>
      <br>
      <div>
        <div style="text-align:center;" class="form-group">
          <label >אופן התשלום:</label>
          <input type="radio" name="CardOrCash" #card>אשראי&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <br>
          <input type="radio" name="CardOrCash" #cash >מזומן
        </div>
      </div>
      <div>
        <div style="text-align:center;" class="form-group">
          <label >התשלום מיועד:</label>
          <input type="radio" name="shovalOrMapalim" #shoval>שובל&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <br>
          <input type="radio" name="shovalOrMapalim" #mapalim>מפלים
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </fieldset>
  <input type="submit" value="לתשלום" class="btn btn-primary">
</form>
