.border1{

}
label{
  color: black;
}
.btn{
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
  border-radius: 1rem !important;
  background-image:  linear-gradient(to bottom left,#2980B9,#6DD5FA) !important ;
  border: none !important;


}
h1{
  margin: 50px !important;
  margin-top: 50px !important ;
  text-align: center;
}
.block_container {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: auto;
}
.form-control{
  width: 20vw !important;
  margin-right: auto !important;
  justify-content: center !important;
  padding: 1vw !important;
  margin-left: auto !important;
  border-radius: 1rem;
  border: 1.5px solid #6DD5FA ;


}
.form-group{
  justify-content: center;
  text-align: center;

}


/* h1{
  text-align: center;
  color: deeppink;
} */
#dateofpayment{
  width: 210px;
}
input.ng-invalid.ng-touched{
  border-color: red;
}
.card{
  display: flex;
  border-radius: 25px;
  width: 50vw;

}
.required{
  font-size: smaller !important;
  color: red !important;
}


