<form  [formGroup] = "myForm" (submit)="addNewPayment(shoval.checked,mapalim.checked,card.checked,cash.checked)">
    <h1 class="border1">תשלומים</h1>
    <br>
    <fieldset>
        <div class="block_container">
            <div class="form-group">
                <label>שם פרטי</label>
                <input type="text" class="form-control" formControlName = "firstName">
                <div *ngIf = "myForm.controls['firstName'].touched">
                <span *ngIf = "myForm.controls['firstName'].errors?.required!=null">שדה זה נדרש</span>
                </div>
                <div *ngIf = "myForm.controls['firstName'].touched">
                <span *ngIf = "myForm.controls['firstName'].errors?.pattern!=null">יש להקיש אותיות בעברית בלבד</span>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label>שם משפחה</label>
                <input type="text" class="form-control" formControlName = "lastName" >
                <div *ngIf ="myForm.controls['lastName'].touched">
                <span *ngIf = "myForm.controls['lastName'].errors?.required!=null">שדה זה נדרש</span>
                </div>
                <div *ngIf ="myForm.controls['lastName'].touched">
                <span *ngIf = "myForm.controls['lastName'].errors?.pattern!=null">יש להקיש אותיות בעברית בלבד</span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
          <label>טלפון </label>
          <input type="text" class="form-control" formControlName = "phone" >
          <div *ngIf ="myForm.controls['phone'].touched">
          <span *ngIf = "myForm.controls['phone'].errors?.required!=null">שדה זה נדרש</span>
          </div>
        </div>
        <div class="block_container ">
            <div class="form-group">
                <label>מחיר</label>
                <input type="text" value="99" name="price" class="form-control" formControlName = "price" >
                <div *ngIf ="myForm.controls['price'].touched">
                <span *ngIf = "myForm.controls['price'].errors?.required!=null">שדה זה נדרש</span>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label>תאריך</label>
                <input type="date" class="form-control" formControlName = "date" id="dateofpayment">
                <div *ngIf = "myForm.controls['date'].touched">
                <span *ngIf = "myForm.controls['date'].errors?.required!=null">שדה זה נדרש</span>
            </div>
            </div>
        </div>
        <br>
        <div>
          <div style="text-align:center;" class="form-group">
            <label >אופן התשלום:</label>
            <input type="radio" name="CardOrCash" #card>אשראי&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <input type="radio" name="CardOrCash" #cash >מזומן
          </div>
        </div>
        <div>
          <div style="text-align:center;" class="form-group">
            <label >התשלום מיועד:</label>
            <input type="radio" name="shovalOrMapalim" #shoval>שובל&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <input type="radio" name="shovalOrMapalim" #mapalim>מפלים
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </fieldset>
    <input type="submit" value="לתשלום" class="btn btn-primary">
</form>
