<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="nav">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-link"><a [routerLink] =  "['/attendance']"  routerLinkActive = "activelink" class="a" (click)="starta()">נוכחות</a></li>
        <li class="nav-link"><a [routerLink] = "['/payment']"  routerLinkActive = "activelink" class="a" (click)="start()">לתשלום</a></li>
    </ul>

</nav>


<div>
    <div class="content" role="main" *ngIf = "visible == false && visibleattendance==false">

        <h1>חוגי שחיה שובל</h1>
    </div>
     <div *ngIf = "visible">
        <app-payment></app-payment>

    </div>
    <div *ngIf  = "visibleattendance">
        <app-attendance></app-attendance>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
