<form
    [formGroup]="myForm"
    (submit)="CheckIftheRightUser()"
>
    <fieldset>
        <h1>כניסה למערכת</h1>
        <div>
            <label>שם משתמש</label>
            <input
                type="text"
                class="form-control"
                formControlName="userName"
            >
        </div>
        <div>
            <label>סיסמא</label>
            <input
                type="text"
                class="form-control"
                formControlName="password"
            >
        </div>
    </fieldset>
    <input type="submit">
    <div id="error" *ngIf ="!right">השם משתמש או הסיסמא שגויים</div>
</form>
