<form  [formGroup]="myForm" (submit)="addNewCourse()">


    <h1 class="border1">קורסים</h1>
    <fieldset>
        <div id="block_containel">
            <div class="form-group">
                <label>תאריך תחילת הקורס</label>
                <input
                    type="date"
                    class="form-control"
                    formControlName="startDate"

                >
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label>תאריך סיום הקורס</label>
                <input
                    type="date"
                    class="form-control"
                    formControlName="endDate"
                >
            </div>
        </div>
        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <div id="block_containel">
            <div class="form-group">
                <label>יום</label>
<input type="text" class="form-control" formControlName="day">

              <!-- <select
                    name="dd"
                    formControlName="day"

                >
                    <option value="1">ראשון</option>
                    <option value="2">שני</option>
                    <option value="3">רביעי</option>
                    <option value="4">חמישי</option>
                    <option value="5">שישי</option>
                </select> -->


            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label>שעה</label>
                <input type="time"class="form-control" formControlName = "hour">
                <!-- <select
                    name="dd"
                    formControlName="hour"
                >
                    <option value="1" id="a"><span >16:05</span></option>
                    <option value="2">15:00</option>
                    <option value="3">20:00</option>
                    <option value="4">17:00</option>
                    <option value="5">18:30</option>
                </select> -->
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label>רמת לימוד</label>
                <select
                    name="select1"
                    formControlName="level"
                    (change)="selectOption($event.target.value)"
                >
                    <option value="1">מתחילים</option>
                    <option value="2">שיפור</option>
                    <option value="3">מתקדמים</option>
                </select>
            </div>
            <div class="form-group">
              <label>מחיר</label>
              <input type="number" class="form-control" formControlName = "price">
            </div>
        </div>
        <br>

    </fieldset>

    <input type="submit" class="btn btn-primry">



</form>
